body{
    background-color: #D6E4E5;
}

hr{
    border-style: dotted none none;
    border-color: #497174 ;
    border-width: 10px;
    height: 3px;
    width: 10%;
    
}

h1{
    color: #EB6440;
    text-shadow: 1px 1px;
}

h2{
    color: #EB6440;
}

h3{
    color: #EB6440;
}

img:hover{
    zoom: 50%;
}